body{
    margin:0;
    background-color:#222831;
    text-align: center;
}
#top-container{
  position: absolute;
   
    top: 190px;
   right:230px ;
  width: 70%;
}
h1{
    width: 10%;
    margin: 0 auto 0 auto;
}
p{
  text-decoration: underline;
}
#image{
   width:100%;
}
#maindiv{
    position: relative;
}
hr{
    border: grey dotted;
    border-width: 3px 0 0 0;
    width: 4%;
    margin:15px auto 15px auto;
}