body{
    margin: 0;
    background-color:#fffcca ;
    text-align:center;
}
h1{
    width: 10%;
    margin:0 auto;
}
.bottom-cloud
{
    position: absolute;
    bottom: 300px;
    left: 350px;
}
.cloud{
    position: absolute;
    right: 400px;
    top:60px;
}
div{
    position: relative;
padding-top: 150px;
    
}